/*GENERAL*/

*{
    margin: 0%;
    padding: 0%;
}

img{
    width: 100%;
}

/*HEADER y NAVEGADOR*/

#navegador{
    position: sticky;
    top: 0;
    z-index: 1;
}

#navegador a:hover{
    color: black;
}

#navegador a:active{
    color: black;
}

.tituloestetica h2{
    text-align: center;
    margin: 2%;
    font-weight: bold;
    color: #f19100;
    font-size: 40px;  
}

.titulosalud h2{
    text-align: center;
    margin: 2%;
    font-weight: bold;
    color: #f19100;
    font-size: 40px;
}

.titulonosotros{
    text-align: center;
    margin: 2%;
    font-weight: bold;
    color: #f19100;
    font-size: 40px;

}


footer{
    background-color: #e1bf83;
    text-align: center;
}

/*Formulario*/

.titulocontacto{
    text-align: center;
    margin: 2%;
    font-weight: bold;
    color: #f19100;
    font-size: 40px;
}

.tituloubicacion{
    text-align: center;
    margin: 2%;
    font-weight: bold;
    color: #f19100;
    font-size: 40px;
}

#formulario{
    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
    background: linear-gradient(#ca984dcc,#cca76fcc);
    box-sizing: border-box;
}

#formulario textarea{
    resize: none;
    width: 100%;
    cursor: pointer;
}

#formulario input{
    cursor: pointer;
    width: 100%;

}

#formulario :required:hover{
    border-color: #f19100;
}

#formulario :required:active{
    border-color: #f19100;
}


.boton{
    cursor: pointer;
    width: 20% !important;
    border-radius: 50px;

}

.boton:hover{
    background-color: #d6921cc5;
}

.boton:active{
    background-color: #d6921cc5;
}

.mapa{
  
   padding-bottom: 10%;
}

.whatsapp{
    width: 10%;
}

.instagram{
    width: 10%;
}

.facebook{
    width: 7%;
    margin-left: 8px;
}

.redessociales{
    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
    background: linear-gradient(#d6921cc5,#f3ba58c5);
    box-sizing: border-box;
}

.redessociales a{
    color: black;
    text-decoration: none;
}

.redessociales a:hover{
    color: white;
}

.redessociales a:active{
    color: white;
}

/*NOSOTROS*/

#carouselExampleIndicators{
    padding: 4%;
}

.parrafo{
    padding: 2%;
}