/*GENERAL*/

*{
    margin: 0%;
    padding: 0%;
}

img{
    width: 100%;
}

/*HEADER y NAVEGADOR*/

.header{ 
    background-color: #f48404;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo{
    width: 6%;
}

.navegador{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.navegador .navitem a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navitem a:hover{
   color: white;
}

.navitem a:active{
    color: white;
}

.tituloestetica h2{
    text-align: center;
    margin: 2%;
    font-weight: bold;
    color: rgb(212, 164, 74);
    font-size: 40px;
}

.titulosalud h2{
    text-align: center;
    margin: 2%;
    font-weight: bold;
    color: rgb(212, 164, 74);
    font-size: 40px;
}


footer{
    background-color: rgb(212, 164, 74);
    text-align: center;
}

/*Formulario*/

.titulocontacto{
    text-align: center;
    font-weight: bold;
    color: rgb(212, 164, 74);
    font-size: 40px;

}

#formulario{
    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
    background-color: #f4840498;
    box-sizing: border-box;
}

#formulario textarea{
    resize: none;
    width: 100%;
    cursor: pointer;
}

#formulario input{
    cursor: pointer;
    width: 100%;

}

.boton{
    cursor: pointer;
    width: 20% !important;
}

.mapa{
   margin-top: 10%;
}

.whatsapp{
    width: 10%;
}

.instagram{
    width: 10%;
}

.facebook{
    width: 10%;
}

.redessociales{
    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
    background-color: #f0902277;
    box-sizing: border-box;
}

.redessociales a{
    color: black;
}