/*GENERAL*/

*{
    margin: 0%;
    padding: 0%;
}

img{
    width: 100%;
}

/*HEADER y NAVEGADOR*/

.header{ 
    background-color: #f48404;
    display: flex;
    position: sticky;
    top: 0;
}

.logo{
    width: 6%;
}

.navegador{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.navegador .navitem a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navitem a:hover{
   color: white;
}

.navitem a:active{
    color: white;
}

.tituloestetica h2{
    text-align: center;
    margin: 2%;
    font-weight: bold;
    color: rgb(212, 164, 74);
    font-size: 40px;
}